// Global
body {
	margin: 0;
	font-family: 'Helvetica-Light'
}

section {
	overflow: hidden;
}


.searchContainer {
	text-align: center;
}

.searchHome {
	cursor: pointer;
}

.searchForm {
	margin-top: 30px;
	margin-bottom: 30px;

	input {
		text-align: center;
	}
}

.searchBtn {
	color: white;
	background: black;
	text-transform: none;
	margin-top: 20px;
	transition: background 0.3s ease;

	&:hover {
		background: darkgrey;
	}
}

.resultRow {
	cursor: pointer;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;

	&:hover {
		background-color: #fafbfc;
	}
}

.resultOwnerImg {
	height: 150px;
	@media screen and (max-width: 480px) {
		height: 100px;
	}
}